# ==========================
# Python
# ==========================
__pycache__/
*.py[cod]

# ==========================
# Virtual Environment
# ==========================
.venv/

# ==========================
# Pytest
# ==========================
.pytest_cache/

# ==========================
# Environment Variables
# ==========================
.env

# ==========================
# macOS
# ==========================
.DS_Store

# ==========================
# ChromaDB
# ==========================
chroma_db/

# ==========================
# IDE
# ==========================
.vscode/
.idea/

# ==========================
# Logs
# ==========================
*.log

# ==========================
# Uploads
# ==========================
uploads/*
!uploads/.gitkeep
!uploads/sample.pdf